= link_to board_path(board) do
  .board
    .board_content
      .board_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_path(board)
            = link_to '削除する', board_path(board), data: {method: 'delete',confirm: '本当に削除してもよろしいですか' }
      .board_title
        = board.title
      .board_sentence
        = board.content.truncate(24, separator: /\s/)
      .board_detail
        = image_tag 'Oval2.png'
