<div class="container">
<ul>
  <% @board.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
  <h2>
    New Board
  </h2>
  <%= form_with(model: @board, url: board_path(@board) , method: 'put', local: true) do |f| %>
    <div>
      <%= f.label :title, 'Name' , class: 'label' %>
    </div>
    <div>
      <%= f.text_field :title, class: 'text' %>
    </div>
    <div>
      <%= f.label :content, 'Description' %>
    </div>
    <div>
     <%= f.text_area :content %>
    </div>
    <%= f.submit 'Submit' ,class: 'btn-primary' %>
  <% end %>
</div>